
.light{
    height: 315px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #696969;
}

*{
    background-color: #000000;
}

.alert {
    padding: 20px;
    background-color: #0cf42f;
    color: white;
}
strong{
    background-color: #0cf42f;
    font-weight: bold;
    font-size: 20px;
}

.closebtn {
    margin-left: 15px;
    color: #ff2118;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    background-color: #0cf42f;
}

.closebtn:hover {
    color: black;
    background-color: #0cf42f;
}