<form action="/createClass" method="post">
    Class Name: <input type="text" name="className"><br>
    <input type="submit" value="Submit">
</form>
{{#each Class}}

    <form action="/selectClass" method="post">
     <input type="text" value={{this._id}} name="classID" hidden="true">
        <input type="submit" value= {{this.className}}>
    </form>
{{/each}}