<link rel="stylesheet" href="public/css/home.css" xmlns="http://www.w3.org/1999/html">

<form action="/createClass" method="post">
    Class Name: <input type="text" name="className"><br>
    <input type="submit" value="Submit">
</form>
{{#each Class}}

    <form action="/selectClass" method="post">
     <input type="text" value={{this._id}} name="classID" hidden="true">
        <input type="submit" class="btn" value= {{this.className}}>
    </form>
{{/each}}