<link rel="stylesheet" href="public/css/home.css" xmlns="http://www.w3.org/1999/html">

<form action="/addRed" method="POST">
    <button type="submit" class="light"><img src="./public/red-circle-hi.PNG" alt="Smiley face" class="light"/></button>
    <input hidden="true" value={{classObj._id}} name="classID">
</form >
<br>
<form action="/addYellow" method="POST">
    <button type="submit" class="light"><img src="./public/yellow-circle-md.PNG" alt="Smiley face" class="light"/></button>
    <input hidden="true" value={{classObj._id}} name="classID">
</form>
<br>
<form action="/addGreen" method="POST">
    <button type="submit" class="light"><img src="./public/green-circle-md.PNG" alt="Smiley face" class="light"/></button>
    <input hidden="true" value={{classObj._id}} name="classID">
</form>

<form action="/getData" method="POST">
    <button type="submit"><img src="./public/chart.JPG" alt="Smiley face" /></button>
    <input hidden="true" value={{classObj._id}} name="classID">
</form >