<link rel="stylesheet" href="./public/css/home.css">

<form action="/addRed"  method="POST" >
    <img src="./public/red-circle-hi.png" alt="Smiley face" class="light"/>
</form>
<br>
<img src="./public/yellow-circle-md.png" alt="Smiley face" class="light"/>
<br>
<img src="./public/green-circle-md.png" alt="Smiley face" class="light"/>


