<link rel="stylesheet" href="public/css/redlight.css" xmlns="http://www.w3.org/1999/html">
<div class="alert alert-success">
    <strong>Ready</strong> Please Select A Color!
</div>
<form action="/addRed" method="POST">
    <button type="submit" class="light"><img src="./public/red-circle-hi.png" alt="Smiley face" class="light"/></button>
    <input hidden="true" value={{classObj._id}} name="classID">
</form >
<br>
<form action="/addYellow" method="POST">
    <button type="submit" class="light"><img src="./public/yellow-circle-md.png" alt="Smiley face" class="light"/></button>
    <input hidden="true" value={{classObj._id}} name="classID">
</form>
<br>
<form action="/addGreen" method="POST">
    <button type="submit" class="light"><img src="./public/green-circle-md.png" alt="Smiley face" class="light"/></button>
    <input hidden="true" value={{classObj._id}} name="classID">
</form>

<form action="/getData" method="POST">
    <button type="submit"><img src="./public/chart.jpg" alt="Smiley face" /></button>
    <input hidden="true" value={{classObj._id}} name="classID">
</form >